<html>
<head>
    <title>Coffee God | Cheat Sheet </title>
</head>
   <h1>Combinations!</h1>
   <ol>
        <li>Coffee Beans - Free</li>
        <li>Milk - Free</li>
        <li>Fire - Beans + Milk</li>
        <li>Espresso - Beans + Beans </li>
        <li>Dopio - Espresso + Espresso </li>
        <li>Mocchiato - Dopio + Milk</li>
        <li>Cappucino - Espresso + Milk</li>
        <li>Cafe Creme - Mocchiato + Milk</li>
        <li>Dry Cappucino - Cappucino + Fire</li>
   </ol>
</html>