<html>
<head>
    <title>Coffee God | Home </title>
</head>
    <h1> Welcome to Coffee Doodle Good</h1>
    <p>This is a mini app, that serves no real purpose other than as an entry to my portfolio<p>
    <p>To see how it works, <a href="http://screencast.com/t/sLwFMgrq3sFY" target="_blank">visit this video</a></p>
    <p>Click here to <a href="/canvas">start doodling</a></p>
    <p>Click here to <a href="/cheat-sheet">view the cheat sheet</a></p>

    <!-- preload -->
    <img src="/images/loading.gif" style="width:0;height:0;opacity:0;"/>
</html>